#listing-management {
    padding-left: 24px;
    background: #fbfaf7;

    form {
        padding: 24px;
        border: 1px solid #dedede;
        width: 100%;
        max-width: 800px;
        background: transparent; 
        
        input:not([type="submit"]), textarea {
            padding: 8px;
            background: #f7f7f7;
            border: 1px solid #c4c4c4;
            border-radius: 0;
            box-shadow: none;
            color: #787878;
            width: 100%;
        }

        textarea {
            height: 200px;
        }

        input {
            height: 50px;
        }

        input[type="submit"] {
            background-color: #fbaf41;
            color: white;
            border: none;
            padding: 12px 24px;
            margin-top: 24px;
        }

        label {
            display: flex;
            flex-direction: column;
            margin-top: 12px;
        }

    }
}